:root {
	font-family: "Hiragino sans, Arial, sans-serif";
	--white: #ffffff;
	--violet: #6260c6;
	--navy: #2c2c37;
	--jaguar: #23232e;
	--gray: #5d6270;
	--green: #68e0b0;
	--sky: #4ac1e3;
	--red: #b71c1c;
}

* {
	padding: 0;
	margin: 0;
}

body {
	color: var(--black);
	width: 100vw;
	height: auto;
}

.header {
	display: flex;
	justify-content: space-between;
}

